<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppDBCon.Properties.Settings.DemodbConnectionString"
            connectionString="Data Source=AZ20002010;Initial Catalog=Demodb;User ID=sa;Password=onirban123@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>